apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

namePrefix: stag-
namespace: staging

replacements:
- source:
    fieldPath: metadata.name
    kind: Service
    name: pg-service
  targets:
  - fieldPaths:
    - data.PG_HOST
    select:
      kind: ConfigMap
      name: db-configmap

patches:
- path: staging-patch.yaml
  target:
    group: gateway.networking.k8s.io
    version: v1beta1
    kind: HTTPRoute
    name: project-http-rt
