---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namePrefix: prod-
namespace: prod

replacements:
  - source:
      kind: Service
      name: pg-service
      fieldPath: metadata.name
    targets:
      - select:
          kind: ConfigMap
          name: db-configmap
        fieldPaths:
          - data.PG_HOST
